<main>
  <div class="container mt-3">
    <div class="row">
      <div class="px-3 mx-auto">
        <h1>Welcome to <span class="fas fa-book"></span><strong>Bookers</strong>!</h1>
      </div>
    </div>
  </div>
</main>